stages:
  - build
  - test

build-job:
  stage: build
  script:
    - docker build --no-cache -t goaccess_server:latest .


test-job:
  stage: test
  script:
    - docker compose -f ./docker-compose.yaml up -d
    - echo "test"

