services:
  redis:
    image: redis:6.2-alpine
    container_name: redis
    restart: always
    command: redis-server --save 20 1 --loglevel notice
    volumes:
      - redis-cache:/data
    networks:
      - goaccess
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s

  goaccess:
    image: goaccess_server
    container_name: goaccess
    restart: always
    command: >
      /app/app.py --external-url=${GOACCESS_URL} ${GOACCESS_OPTIONS}
    env_file: ".env"
    networks:
      - goaccess
    volumes:
      - data:/app/data
      - /var/geodb/:/app/geodb:ro
volumes:
  redis-cache:
    driver: local
  data:
    driver: local

networks:
  goaccess:
    driver: bridge

